.descript{
  padding: 50px;

}

h1{
  font-size: 30px;
}

.img{
  padding-bottom: 50px;
  display: flex;
  justify-content: center;
  position: relative;
}

.rating{
  text-align: center;
  margin: 15px;
  column-count: 2;
  padding-top: 55px;
}
